* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html, body {
    overflow-x: hidden;
}


img {
    max-width: 100%;
    height: auto;
}


header {
    background-color: #333;
    color: white;
    padding: 1rem;
    font-family: sans-serif;
    position: relative;
    z-index: 10;
}


summary {
    list-style: none;
    cursor: pointer;
    font-weight: bold;
}

summary::-webkit-details-marker {
    display: none;
}

.menuSuspenso {
    position: relative;
    display: inline-block;
}

.menuConteudo {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    margin-top: 5px;
    border-radius: 4px;
}

.menuConteudo a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.menuConteudo a:hover {
    background-color: #f1f1f1;
}

details[open] .dropdown-content {
    display: block;
}


.fundo {
    position: relative;
    width: 100%;
    z-index: 1;
}


.img2 {
    position: absolute;
    width: clamp(250px, 30vw, 550px);
    top: -10vh;
    left: -10vw;
    transition: transform 0.3s ease-in;
}

.img2:hover {
    transform: scale(1.07);
}


.img3 {
    position: absolute;
    width: clamp(500px, 35vw, 600px);
    top: 5vh;
    left: 5vw;
    filter: contrast(120%) saturate(110%);
    transition: transform 0.5s ease-in;
}

.img3:hover {
    transform: scale(1.07);
}


.img4 {
    position: absolute;
    width: clamp(320px, 35vw, 630px);
    top: 3vh;
    right: 5vw; /* melhor que left fixo */
    filter: contrast(120%) saturate(110%);
    transition: transform 0.3s ease-in;
}

.img4:hover {
    transform: scale(1.07);
}


.img5 {
    position: absolute;
    width: clamp(200px, 20vw, 400px);
    top: -5vh;
    right: -5vw;
    filter: contrast(120%) saturate(110%);
    transition: transform 0.3s ease-in;
}

.img5:hover {
    transform: rotate(-20deg);
}